.terraform/
*.tfstate
*.tfstate.*

crash.log
*.tfvars
*.auto.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Go specific and test artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor
Godeps

# Terratest local data
.test-data/

