[defaults]
# Inventory default
inventory = ./environments/prod/inventory
# Remote user
remote_user = ubuntu
# Private key
private_key_file = ~/.ssh/otus
# Disable host key checking
host_key_checking = False
# Disable retry files
retry_files_enabled = False
# Roles path
roles_path = ./roles
